<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<style type="text/css">
	table {
		border-collapse: collapse;
		width: 80%;
	}
	th, td {
		text-align: left;
		padding: 8px;
	}
	tr:nth-child(even){background-color: #f2f2f2}
</style>
<body>
	<div id="pipeline">

		<!-- Input pra quantidade de ciclos que cada instrução executa
		Tem que botar do lado de cada Input a descriçao-->
		<input v-model.number="addI" placeholder="Add. Inteiro">
		<input v-model.number="multI" placeholder="Mult. Inteiro">
		<input v-model.number="divI" placeholder="Div. Inteiro">
		<input v-model.number="multD" placeholder="Mult. Float">
		<input v-model.number="divD" placeholder="Div. Float">
		<input v-model.number="addD" placeholder="Add/Sub Float">


		<!-- Seleciona o tipo de operação, se é inteira ou double -->
		<select v-model="selected">
			<option v-for="type in types"> {{type}} </option>
		</select>

		<!-- Se selecionado inteiro vai imprimir as operações de inteiro
		Também será mostrado os registrados de inteiro -->
		<div v-if="selected == 'INTEGER'">
			<select v-model="op">
				<option v-for="operation in operationsInt"> {{operation}}</option>
			</select>

			<select v-model.number="rt">
				<option v-for="register in r" v-bind:value="register.id" > {{register.name}}</option>
			</select>

			<!-- Se for LW e SE ele não lê o RS , e seta o RS da instrução como -1 -->
			<select v-model.number="rs" v-if="op == 'LW' || op == 'SW'">
				<option v-bind:value="-1" >OffSet</option>
			</select>
			<select v-else v-model.number="rs">
				<option v-for="register in r" v-bind:value="register.id"> {{register.name}}</option>
			</select>

			<select v-model.number="rd">
				<option v-for="register in r" v-bind:value="register.id" > {{register.name}}</option>
			</select>
		</div>

		<!-- Se o tipo selecionado é float ele mostra as instruções de FLOAT
		Também irá mostrar os registradores FLOAT (exceto no caso de LW e SW que o registrador RD é inteiro)-->

		<div v-if="selected == 'FLOAT'">
			<select v-model="op">
				<option v-for="operation in operationsFloat"> {{operation}}</option>
			</select>
			<select v-model.number="rt">
				<option v-for="register in f" v-bind:value="register.id"> {{register.name}}</option>
			</select>
			<span v-if="op == 'L.D' || op == 'S.D'">
				<select v-model.number="rs">
					<option v-bind:value="-1" >OffSet</option>
				</select>
				<select v-model.number="rd">
					<option v-for="register in r" v-bind:value="register.id"> {{register.name}}</option>
				</select>

			</span>
			<span v-else>
				<select v-model.number="rs">
					<option v-for="register in f" v-bind:value="register.id"> {{register.name}}</option>
				</select>
				<select v-model.number="rd">
					<option v-for="register in f" v-bind:value="register.id"> {{register.name}}</option>
				</select>
			</span>
		</div>

		<!-- Chama a função para inserir instrução no vetor de instruções -->
		<button v-on:click="insertInstruction">Inserir</button>

		<!-- Gera tabela com todas as instruções -->
		<table>

			<tr v-for="inst in instructions" >
				<!--v-if="inst.operation != 'LW' &&	inst.operation != 'SW' && inst.operation != 'L.D' inst.operation != 'S.D'"> -->
				<th>{{inst.id}}</th>
				<th>{{inst.operation}}</th>
				<th v-if="inst.type == 'INTEGER'">{{r[inst.rt].name}}</th><th v-else>{{f[inst.rt].name}}</th>

				<th v-if="inst.rs == -1">OFFSET</th>
				<th v-else-if="inst.type =='INTEGER'">{{r[inst.rs].name}}</th>
				<th v-else="inst.type =='FLOAT'">{{f[inst.rs].name}}</th>

				<th v-if="inst.rd == -1">OFFSET</th>
				<th v-else-if="inst.type == 'INTEGER'">{{r[inst.rd].name}}</th>
				<th v-else-if="inst.rs == -1">{{r[inst.rd].name}}</th>
				<th v-else>{{f[inst.rd].name}}</th>
			</span>
		</tr>

	</table>

	<!-- Tabela que irá mostrar os dados após executados -->
	<table id="pipeline-table">	</table>

	<!-- Chama função que irá imprimir o pipeline -->
	<button v-on:click="executarNoFowarding">Executar</button>


</div>


</body>
<script src="app.js"></script>
</html>