<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<body>
	<div id="pipeline">

		<!-- INPUT PRA VALORES-->
		<input v-model.number="inteiro" placeholder="Ciclos Op. Inteiro">
		<input v-model.number="mult" placeholder="Mult. Float">
		<input v-model.number="div" placeholder="Div. Float">
		<input v-model.number="add" placeholder="Add/Sub Float">

		<select v-model="selected">
			<option v-for="type in types"> {{type}} </option>			
		</select>
		<div v-if="selected == 'INTEGER'">
			<select v-model="op">
				<option v-for="operation in operationsInt"> {{operation}}</option>
			</select>
			
			<select v-model.number="rt">
				<option v-for="register in r" v-bind:value="register.id" > {{register.name}}</option>
			</select>

			<select v-model.number="rs" v-if="op == 'LW' || op == 'SW'">
				<option v-bind:value="-1" >OffSet</option>
			</select>
			<select v-else v-model.number="rs">
				<option v-for="register in r" v-bind:value="register.id"> {{register.name}}</option>
			</select>

			<select v-model.number="rd">
				<option v-for="register in r" v-bind:value="register.id" > {{register.name}}</option>
			</select>
		</div>
		<div v-if="selected == 'FLOAT'">
			<select v-model="op">
				<option v-for="operation in operationsFloat"> {{operation}}</option>
			</select>
			<select v-model.number="rt">
				<option v-for="register in f" v-bind:value="register.id"> {{register.name}}</option>
			</select>
			<span v-if="op == 'L.D' || op == 'S.D'">
				<select v-model.number="rs">
					<option v-bind:value="-1" >OffSet</option>
				</select>
				<select v-model.number="rd">
					<option v-for="register in r" v-bind:value="register.id"> {{register.name}}</option>
				</select>

			</span>
			<span v-else>
				<select v-model.number="rs">
					<option v-for="register in f" v-bind:value="register.id"> {{register.name}}</option>
				</select>
				<select v-model.number="rd">
					<option v-for="register in f" v-bind:value="register.id"> {{register.name}}</option>
				</select>
			</span>
		</div>


		<button v-on:click="insertInstruction">Inserir</button>


		<table>

			<tr v-for="inst in instructions">
				<th>{{inst.id}}</th>
				<th>{{inst.operation}}</th>

				<th v-if="inst.type == 'INTEGER'">{{r[inst.rt].name}}</th><th v-else>{{f[inst.rt].name}}</th>
				<th v-if="inst.type == 'INTEGER'">{{r[inst.rs].name}}</th><th v-else>{{f[inst.rs].name}}</th>
				<th v-if="inst.type == 'INTEGER'">{{r[inst.rd].name}}</th><th v-else>{{f[inst.rd].name}}</th>
			</tr>

		</table>

		<table id="pipeline-table">

			

		</table>
		<button v-on:click="executarNoFowarding">Executar</button>

		
	</div>


</body>
<script type="text/javascript">
	var app = new Vue({
		el: '#pipeline',
		// Valores usados na view e nos cálculos do pipeline
		data: {
			newTodoText: '',
			i: 0,
			begin: 0,
			op: '',
			ind : 0,
			index: 0,
			inteiro: -1, mult: 7, div: -1, add: 3,
			rt: -1, rs: -1, rd: -1,
			selected: 0,
			fowarding: false,
			types: [
			'INTEGER',
			'FLOAT'
			],
			operationsInt: [
			'LW',
			'SW',
			'ADD',
			'SUB',
			'MULT',
			'DIV'
			],
			operationsFloat: [
			'L.D',
			'S.D',
			'ADD.D',
			'SUB.D',
			'MULT.D'],
			instructions: [
			{id:0, type: 'FLOAT',operation: 'ADD.D', rt: 0, rs: 1, rd: 1},
			{id:1, type: 'FLOAT',operation: 'MULT.D', rt: 1, rs: 0, rd: 0},
			{id:2, type: 'FLOAT',operation: 'ADD.D', rt: 2, rs: 1, rd: 1}
			//{id:1, type: 'INTEGER',operation: 'ADD', rt: 1, rs: 0, rd: 3}
			],
			stalls: [],
			r: [
			{id: 0, name:"R0", readyAt: -1},
			{id: 1, name:"R1", readyAt: -1},
			{id: 2, name:"R2", readyAt: -1},
			{id: 3, name:"R3", readyAt: -1},
			{id: 4, name:"R4", readyAt: -1}
			],
			f: [
			{id: 0, name:"F0", readyAt: -1},
			{id: 1, name:"F2", readyAt: -1},
			{id: 2, name:"F4", readyAt: -1}
			],
			pipeline: []

		},
		methods: {
			//Método que insere uma instrução no vetor data.instructions
			insertInstruction: function() {
				this.instructions.push({id: this.instructions.length, 
					type: this.selected,
					operation:this.op, 
					rt: this.rt, 
					rs: this.rs, 
					rd: this.rd
				})
			},
			//Executa operação usando ou não fowarding
			//Necessita alteração - FOWARDING SERÁ definido 
			executarNoFowarding: function() {
				this.resetReg()
				console.log("entrou no metodo")
				var inst = this.instructions
				var pipe = this.pipeline
				var inicio = this.begin
				var registersInt = this.r
				var registersFloat = this.f
				stall = this.stalls


				//Faz a execução de todas as instruções
				for(var i = 0; i < inst.length; i++) {
					//console.log("entrou no for", inst.length, " valor de i:" ,i)
					//console.log(inst[i].operation)
					switch(inst[i].operation) {
						case 'SUB':
						case 'MULT':
						case 'DIV':
						case 'ADD':
						case 'LD':
						case 'SW':
						console.log("entrou no case",inicio)
						executaInstrução(1,inicio,stall,registersInt,inst[i],pipe,this.fowarding)
						inicio = inicio + 1				
						break;
						case 'ADD.D':
						console.log("entrou no ADD.D")
						executaInstrução(this.add,inicio,stall,registersFloat,inst[i],pipe,this.fowarding)
						inicio = inicio + 1			
						break;
						case 'MULT.D':
						console.log("entrou no MULT.D")
						executaInstrução(this.mult,inicio,stall,registersFloat,inst[i],pipe,this.fowarding)
						console.log("saindo do mult")
						inicio = inicio + 1			
						break
						default: 
						console.log("testando");
						break;
					}
					console.log("valor de i no final", i)
				}
				console.log("saiu do for", inst.length)

				printTable(pipe,stall)
				this.stalls = stall
			},
			executarFowarding: function() {

			},
			resetReg: function() {
				for (i = 0 ; i < this.r.length; i++) {
					this.r[i].readyAt = -1
				}
				for (i = 0 ; i < this.f.length; i++) {
					this.f[i].readyAt = -1
				}

				this.stalls = []
				this.pipeline = []
			},
			resetAll : function() {
				this.resetReg()
				this.instructions = []
			}


		}

	})
/*
	function checkStall (valor, vetor) {
		if(!vetor.includes(valor)) {
			return valor
		}
		return checkStall(valor+1,vetor)
	}

	function insertStall (valor, vetor) {
		if (!vetor.includes(valor)) {
			vetor = vetor.push(valor)
		}
	}

	*/


	function checkStall (pos, stalls) {
		//console.log("checkStall")
		if(findValue(pos,stalls) < 0) {
			return pos
		}
		return checkStall(pos+1,stalls)
	}

	function insertStall (pos, vetor, inst) {
		//console.log("INSERT")
		if (findValue(pos,vetor) < 0) {
			vetor.push({
				pos: pos,
				inst: inst
			})
		}
	}

	function findValue (value,array) {
		//console.log("PROCURA")
		for (i = 0; i < array.length; i++) {
			if (array[i].pos == value) {
				return i
			}
		}
		return -1
	}
	function executaInstrução(cycleTime,inicio,stalls,registers,instrucao,pipeline,fowarding) {
		var f,d,ex,m,w = -1 
		f = checkStall(inicio+1,stalls)
		id = checkStall(f+1,stalls)
		id_aux = id
		// IMPORTANTE - aqui no fowarding será diferente
		//console.log(f,d)
		//RAW - Read after write (registrador ainda nao tá pronto)

		if (instrucao.rs != -1 && registers[instrucao.rs].readyAt > id_aux ){
				//aqui tem que adicionar no vetor stalls
				do {
					id_aux= id_aux+1
					insertStall(id_aux,stalls,instrucao.id)
				} while (id_aux< registers[instrucao.rs].readyAt)

			}

			if (registers[instrucao.rd].readyAt > id_aux){
			//aqui tem que adicionar no vetor stalls
			do {
				id_aux= id_aux+1
				insertStall(id_aux,stalls, instrucao.id)
				
			} while (id_aux < registers[instrucao.rd].readyAt)
		}

		for (var i = 0; i < stalls.length; i++ ) { 
			console.log(stalls[i].pos)
		}

		//!!!!! PRECISA INSERIR NO VETOR PIPELINE !!!!!!! AINDA NAO ESTA FAZENDO ISSO
		//!!!!! PRECISA INSERIR NO VETOR PIPELINE !!!!!!! AINDA NAO ESTA FAZENDO ISSO
		//!!!!! PRECISA INSERIR NO VETOR PIPELINE !!!!!!! AINDA NAO ESTA FAZENDO ISSO
		ex = id_aux + 1
		m = ex + cycleTime
		w = m + 1
		if (fowarding) { 
			switch (instrucao.operation) {
				case 'L.D':
				case 'S.D':
				registers[instrucao.rt].readyAt = m
				break;
				default:
				registers[instrucao.rt].readyAt = m-1
				break;
			}
		} else {
			registers[instrucao.rt].readyAt = w
		}

		console.log(f,id,ex,m,w)
		pipeline.push({
			inst: instrucao,
			f: f,
			id: id,
			ex: ex,
			m: m,
			w: w
		})		
		console.log("vetor de bolha",stalls)
	}

	function printTable(pipeline,stalls) {
		var table = document.getElementById("pipeline-table")
		var value = ""
		for (var i = 0; i < pipeline.length; i ++) {
			console.log("insere linha")
			var row = table.insertRow(i)
			console.log("valooooooooooor do W", pipeline[i].w)
			for (var j = 1; j <= pipeline[i].w; j++) {
				tableValue = j - 1
				while( j < pipeline[i].f) {
					row.insertCell(tableValue).innerHTML = " - "
					tableValue = j 
					j = j + 1

				}
				if (j == pipeline[i].f) {
					console.log("IF: ",pipeline[i].f)
					row.insertCell(tableValue).innerHTML = " IF "
				}
				else if (j == pipeline[i].id) {
					console.log("ID: 	",pipeline[i].id)
					row.insertCell(tableValue).innerHTML = " ID "
				}
				else if (j == pipeline[i].ex) {
					console.log("EX: ",pipeline[i].ex)
					for (;j < pipeline[i].m;j++) {
						console.log(j)
						row.insertCell(tableValue).innerHTML = " EX"
					}
					j = j - 1					
				}
				else if (j == pipeline[i].m) {
					console.log("M: ",pipeline[i].m)
					row.insertCell(tableValue).innerHTML = " M "
				}

				else if (j == pipeline[i].w) {
					console.log("W: ",pipeline[i].w)
					row.insertCell(tableValue).innerHTML = " W "
				}

				else {
					row.insertCell(tableValue).innerHTML = " STALL "
				}

			}
			
		}
	}
</script>
</html>